<section id="login_section">
    <div class="container">
        <div class="row login">
            <div class="col m-5">

                <div class="card w-75 ">
                    <div class="card-header login_header">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="card-body p-3">
                        <form action="" method="GET">
                            <div class="input-group mt-2 ">
                                <input type="email" class="form-control" placeholder="Email">
                                <span class="input-group-addon pr-1 ">
                                    <i class="fa fa-user login_icons"></i>
                                </span>
                            </div>
                            <div class="input-group  mt-2 mb-2 ">
                                <input type="password" class="form-control" placeholder="Password" required>
                                <span class="input-group-addon pr-1 ">
                                    <i class="fa fa-unlock-alt login_icons"></i>
                                </span>
                            </div>

                            <a href="dashboard.html" class="btn btn-success btn-block">Login</a>
                            <h6 class="mt-2 text-center ">Not Register?
                                <a href="register.html" class="account_link">Create an account</a>
                            </h6>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>